<div class="container py-sm-5">
  <div *ngIf="hotel" class="row">
    <div class="col-md-4">
      <h2 class="text-center">{{hotel.name}}</h2>
      <h4 class="text-center ">{{hotel.city}}, {{hotel.street}} {{hotel.buildingNr}}</h4>
    </div>
    <div  class="col-md-8">
      <mat-tab-group class="row">
        <mat-tab  *ngFor="let rP of hotel.roomPhotos; let i = index">
          <ng-template class="col-sm-1" mat-tab-label>
            <mat-icon class="example-tab-icon">insert_photo</mat-icon>
            {{i+1}}
          </ng-template>
          <img height="420px" width="680" class="img" src="data:image/png;base64,{{rP}}"/>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify">
        {{hotel.description}}
      </div>
    </div>
    <table class="my-5 table table-striped table-hover table-borderless">
      <thead>
      <tr>
        <th scope="col">Typ pokoju</th>
        <th scope="col">Opis</th>
        <th scope="col">Cena za noc</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let roomType of hotel.roomTypes">
        <td>{{roomType.roomTypeName}}</td>
        <td>{{roomType.description}}</td>
        <td>{{roomType.prize | currency: 'PLN ': true}}</td>
        <td class="font-weight-bold"> Szczegóły </td>
        <td  class="font-weight-bold clickable" (click)="Reserve()">  Rezerwuj </td>
      </tr>
      </tbody>
    </table>
  </div>
  <app-reservation *ngIf="isLogedIn()" [hotel]="hotel"></app-reservation>
