<div class="py-sm-3 example-container container card">
  <div class="container example-container">
    <div class="text-center"><mat-card-title>Twoje zarządzane hotele</mat-card-title></div>
      <div class="d-flex justify-content-center align-items-center py-sm-2"> <button mat-stroked-button color="primary" class="" [routerLink]="['/manage/addHotel']" >Dodaj Hotel</button> </div>
  <div class="py-2" *ngIf="hotels && hotels.length > 0; else noHotelsInfo">
    <div class="container">
      <div class="row">
        <div *ngFor="let hotel of hotels; let i=index" class="col-md-4 p-3">
          <div  class="card box-shadow">
            <img class="card-img-top" *ngIf="hotel.photo && hotel.photo.length > 0; else noPhoto" src="data:image/png;base64,{{hotel.photo}}" alt="brak obrazka">
            <ng-template #noPhoto>
              <img class="card-img-top" src="../../../assets/No_Image_Available.jpg" alt="xDXDXDXD">
            </ng-template>
            <div class="card-body">
              <p class="card-text">{{hotel.name}} <br> {{hotel.city}}, {{hotel.street}} {{hotel.buildingNr}}  </p>
                <div class="row justify-content-around">
                  <button mat-stroked-button color="primary" (click)="goToVirtualReception(hotel)">Wirtualna recepcja</button>
                  <button mat-stroked-button color="primary" (click)="goToEditHotel(hotel)">Edytuj</button>
                  <button mat-stroked-button color="warn" (click)="deleteHotel(hotel)">Usuń</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noHotelsInfo>
    <div class="container py-sm-5 text-center">
      <div class="no-cars-info">
        <p>Nie posiadasz hoteli do zarządzania</p>
      </div>
    </div>
  </ng-template>
  </div>
</div>
