<div class="container align-content-center">
  <mat-card>
    <mat-card-title class="text-center">Sprawdź dostępność i rezerwuj</mat-card-title>
    <mat-card-content class="container">
      <form [formGroup]="reservationForm" >
        <div>
          <div class="row">
            <div class="col-sm-12 col-md-6 text-md-right">
              <mat-form-field>
                <input matInput [min]="minDate" formControlName="dateFrom" [matDatepicker]="dateFrom" placeholder="Od">
                <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
                <mat-datepicker #dateFrom></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6 text-md-left">
              <mat-form-field>
                <input matInput [disabled]="reservationForm.get('dateFrom').value == null"
                       [min]="reservationForm.get('dateFrom').value !== null  ? reservationForm.get('dateFrom').value : minDate"
                       formControlName="dateTo" [matDatepicker]="dateTo" placeholder="Do">
                <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
                <mat-datepicker #dateTo></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="" *ngIf="hotel">
          <div formArrayName="roomRequests" class="container"
               *ngFor="let rr of roomRequests.controls; let i = index">
            <div [formGroupName]="i" class="row ">
              <div class="col-sm-12 col-md-6 text-md-right">
                <mat-icon *ngIf="i!==0" style="cursor: pointer; color: #ff4332" class="mx-md-2" (click)="removeRoomRequest(i)">cancel</mat-icon>
                <mat-form-field>
                  <mat-select placeholder="Wybierz standard pokoju" formControlName="roomTypeId">
                    <mat-option *ngFor="let rt of hotel.roomTypes" required [value]="rt.id">
                      {{rt.roomTypeName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-6 text-left">
                <mat-form-field>
                  <input matInput type="number" placeholder="Ilość pokoi" formControlName="requestedNumber" min="1">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="container d-flex flex-md-row justify-content-around">
            <button *ngIf="roomRequests.length < hotel.roomTypes.length" mat-button color="primary"
                    (click)="addRoomRequest()">Dodaj kolejny typ pokoju
            </button>
            <button mat-button color="primary" (click)="checkAvailability()">Sprawdź dostępność</button>
            <button color="primary" mat-button color="primary" disabled="{{reservationForm.invalid}}" (click)="sendReservationForm()"> rezerwuj</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
