<!--<div class="container-fluid sticky-top header">
  <div class="d-flex flex-sm-row justify-content-between">
    <div routerLink="/hotels">Lista Hoteli</div>
    <div routerLink="/login">Zaloguj się</div>
    <div>Lista Hoteli</div>
  </div>
</div>-->

<mat-toolbar class="sticky-top" color="primary">
  <span (click)="navigate('')" class="clickable">
  <mat-icon size="large" class="md-icon">hotel</mat-icon>
  <span class="appName">Bookkaking.com</span>
  </span>
  <span class="example-spacer"></span>
  <div *ngIf="isLoggedIn(); else notLoggedIn">
    <span>{{username}}</span>
    <button mat-button [matMenuTriggerFor]="menu">  <mat-icon size="large" class="md-icon">menu</mat-icon> </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="navigate('myReservations')">Moje rezerwacje</button>
      <!--<button mat-menu-item>Edytuj profil</button>-->
      <button mat-menu-item (click)="logout()">Wyloguj</button>
    </mat-menu>
  </div>
  <ng-template #notLoggedIn>
    <div>
      <button mat-button (click)="navigate('/login')" >Logowanie</button>
      <button mat-button (click)="navigate('/register')" >Rejestracja</button>
    </div>
  </ng-template>
</mat-toolbar>
