<div class="py-sm-5 example-container container card">
  <mat-card-title class="text-center">Login</mat-card-title>

  <form class="container">
    <mat-form-field class="container row px-sm-5">
      <input matInput placeholder="Username" [(ngModel)]="login" name="login" required>
    </mat-form-field>
    <mat-form-field class="container row px-sm-5">
      <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="onSubmit()" color="primary">Login</button>

</div>
