

<div class="py-4" *ngIf="hotels && hotels.length > 0; else noHotelsInfo">
    <div class="container">
      <div class="row">
        <div *ngFor="let hotel of hotels; let i=index" class="col-md-4 p-3">
          <div  class="card box-shadow">
            <img class="card-img-top" *ngIf="hotel.photo && hotel.photo.length > 0; else noPhoto" src="data:image/png;base64,{{hotel.photo}}" alt="brak obrazka">
            <ng-template #noPhoto>
              <img class="card-img-top" src="../../../assets/No_Image_Available.jpg" alt="xDXDXDXD">
            </ng-template>
            <div class="card-body">
              <p class="card-text">{{hotel.name}} <br> {{hotel.city}}, {{hotel.street}} {{hotel.buildingNr}}  </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group ">
                  <button type="button" (click)="goToHotelDetails(hotel)" class="btn btn-sm btn-outline-primary btn-group-lg">Rezerwuj</button>
                </div> <small class="text-muted">5/5 gwiazdek Micheline</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<ng-template #noHotelsInfo>
  <div class="container py-sm-5 text-center">
    <div class="no-cars-info">
          <p>Currently no hotels in our service</p>
        </div>
  </div>
</ng-template>
